<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detai</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">

<body>

    <div class="container">


        <aside class="col-lg-6">
            <div id="mainImgContainer" style="height: 80vh;"
                class="border rounded-4 mb-3 d-flex justify-content-center">
                <a data-fslightbox="mygalley" id="zoomimg"
                    style="background-image: url('/assets/uploads/<%= product.image[0] %>');" class="rounded-4 zoom"
                    onmousemove="zoom(event)" data-type="image" href="">
                    <img id="mainImage" style="max-width: 100%; max-height: 100%; margin: auto;" class="rounded-4 fit"
                        src="/assets/uploads/<%= product.image[0] %>" />
                </a>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <% for (let i=0; i < product.image.length; i++) { %>
                    <a onmouseenter="changeMainImg('<%= product.image[i] %>')" data-fslightbox="mygalley"
                        class="border mx-1 rounded-2" data-type="image" href="" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="/assets/uploads/<%= product.image[i] %>" />
                    </a>
                    <% } %>

            </div>


        </aside>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>

</html>